.list-container
{
    width: 480px;

    padding: 10px;

    background: #545454;
    box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

#top-line
{
    font-size: 24px;
}

#search
{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 6.5px;
}



#search > #icon
{
    margin-left: 3px;
    margin-top: 5px;
    cursor: pointer;
}


#search > input
{
    padding: 0px;
    background-color: transparent;
    display: block;
    width: -webkit-fill-available;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: Oswald;
    color:#757575;
}

.exhibts-container
{
    margin-top: 15px;
    margin-bottom: 10px;
    overflow-y: scroll;
    height: 550px;
    padding-right: 15px;
}

.exhibts-container::-webkit-scrollbar 
{
    width: 10px;    
}
  
.exhibts-container::-webkit-scrollbar-track 
{
    background: transparent;
}
  
.exhibts-container::-webkit-scrollbar-thumb 
{
    border-radius: 5px;
    background: white;
}
  
.exhibts-container::-webkit-scrollbar-thumb:hover 
{
    background: #d4d4d4;
}

.check-card
{
    margin-bottom: 15px;    
    width: 100%;

    display: grid;
    grid-template-columns: 100px 1fr 95px;
    grid-template-rows: 100px;
    grid-template-areas: "image content button";

    justify-items: center;
    align-items: center;

    border-radius: 5.5px;
    box-sizing: border-box;
    border: 3px solid #9e6c6c;
}

.check-card.included
{
    border-color: #cdffbe;
}

.check-card > img
{
    grid-area: image;
    width: 70px;
    height: 70px;
    border-radius: 3px;
}

.check-card > p
{
    margin-top: 10px;
    justify-self: start;
    align-self: start;
    font-size: 18px;
    text-decoration:underline;
    height: 25px;
    width: -moz-fit-content;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.actionButton
{
    grid-area: button;
    background-color: transparent;
    font-family: Oswald;
    font-size: 14px;
    border: none;
    color: white;
    z-index: 5;
    outline: none;
}

.animB
{
    border: 2px solid transparent;
    border-radius: 3px;
}

.animB:hover
{
    border: 2px solid white;
    transition: ease-in-out 0.35s;    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);  
}


/* .check-card > button:hover::after
{
    z-index: 1;
    position: absolute;;
    content:"sad";
    height: 25px;
    width: 50px;
    border: 3px solid white;
    transform: scaleX(-1);
} */

.y-center
{
    align-items: center;
}




