.card
{
    margin: auto;
    height: 150px;
    width: 475px;
    background: #545454;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

.card.layout
{
    display: grid;
    grid-template-columns: 140px 250px 85px;
    grid-template-rows: 30px 90px 30px;
    grid-template-areas:    "image header header"
                            "image content icons"
                            "image content icons";
}

.card-container
{   
    position: relative;
    margin: 0 auto; 
    overflow-y: scroll;
    border-radius: 25px;
    width:980px;
    height: 832px;
    display: grid;
    grid-gap: 20px;    
    grid-template-columns: 1fr  1fr;
    grid-template-rows: auto;  
    background-color: #767575;
    padding: 40px;
}

.card-container::-webkit-scrollbar 
{   
    width: 0px;
}

.min-image
{
    width: 112px;
    height: 112px;
    border-radius: 5px;
}

.header
{
    padding-left: 5px;
    font-size: 18px;
    text-decoration:underline;
}

.icons
{
    padding-right: 3px;
    padding-bottom: 3px;
    display: flex; 
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    align-content: baseline;
}

.icons > *{
    margin: 1px;
}

.content
{
    font-size: 14px;
    padding-left: 5px;
}

.flex
{
    display: flex;        
}
.flex.center
{
    justify-content: center;
    align-items: center;
}

/* .fake-container::-webkit-scrollbar 
{   
    width: 10px;
    position: fixed;
    left:180px; 
}
.fake-container::-webkit-scrollbar-track 
{
    background: #ffffff;;    
    border-radius: 5px;
}

.fake-container::-webkit-scrollbar-thumb 
{
    background: #383838;
    border-radius: 3px;
} */