
select
{
    font-family: Oswald;
}

option
{
    color: rgb(77, 77, 77);
}

#discription
{
    background-color: transparent;
    resize: none;
    border: 3px solid white;
    border-radius: 15px;
    width: -webkit-fill-available;
    height: 120px;
    padding: 10px;
    font-family: Oswald;
    font-size: 18px;
    color: white;
    overflow-y: scroll;
    outline: none;
}

#discription::-webkit-scrollbar 
{
    width: 0px;    
}