.editor-layout {
    display: grid;
    grid-template-columns: 415px 550px;
    grid-template-rows: 50px 1fr;
    grid-template-areas: ".  icons" "image  content";
    height: 450px;
    background: #545454;
    border-radius: 20px;
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
}

.exp-image {
    width: 100% !important;
    height: 100% !important;
    opacity: 100%;
    /* color: black; */
    border-radius: 10px;
    margin-bottom: 0px !important;
}
.add-image{
    display: none;
    position: absolute !important;
    color: white;
    font-size: 20px;
    /* width: 100% !important; */
    top: 80%;
    /* opacity: 100%; */
}
#upload-container:hover .add-image{
    display: block;
    /* background-color: #0000003d; */
    /* opacity: 50%; */
    /* font-size: 100px; */
}
#upload-container:hover .exp-image{
    /* display: block; */
    /* background-color: #0000003d; */
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    /* opacity: 50%; */
    /* font-size: 100px; */
}


.flex-center {
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

#upload-container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 380px;
    /* background-color: #ffffff; */
    color: #000000;
}

#upload-container img {
    width: 40%;
    margin-bottom: 20px;
    user-select: none;
}

#upload-container label {
    font-weight: bold;
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}

#upload-container div {
    position: relative;
    z-index: 10;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

#upload-container label.focus {
    outline: 1px solid #0078d7;
    outline: -webkit-focus-ring-color auto 5px;
}

#upload-container.dragover {
    background-color: #e2e2e2;
    box-shadow: inset 0px 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.input-label {
    padding-left: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.8);
}

.input-outline {
    outline: none;
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: -webkit-fill-available;
    font-size: 25px;
    color: white;
    background: transparent;
    border-radius: 11px;
    border: 3.4px solid white;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-row.left
{
    justify-content: left;
}

.flex-row.left > *
{
    margin-right: 10px;
    width: 90px;
}